body {
    width: 100vw;
    overflow: hidden;
}

h1 {
    width: fit-content;
    font-family: 'Expletus Sans', cursive;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 100px;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: auto;
}
h1 img {
    width: 80px;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    width: 50%;
    height: fit-content;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-around;
    padding-right: 8%;
    height: 100%;
    align-items: center;
    padding-bottom: 4rem;
}

.content-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: all .3s;
    border-radius: 50%;
}
.content-img:hover {
    transform: scale(1.05);
} 

::selection {
    background-color: #7590c669;
}

.more-content {
    width: 100vw;
    height: 50%;
}

.content-no-grid {
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 4rem;
}

.img-format {
    height: 300px;
    width: 15%;
    border-radius: 15px;
    background-size: cover;
    border: solid 2px #beda42;
    background-image: url("../images/fotocomanao.jpeg");
    transition: all .3s;
}
.img-format:hover {
    background-image: url("../images/fotocomlouis.jpeg");
}

#border {
    height: 300px;
    border-radius: 15px;
    background-color: white;
    padding-left: 2em;
    color: black
}

#d-space-around {
    justify-content: center!important;
}

#hover {
    transition: all .3s;
}
#hover:hover {
    transform: scale(1.05);
}