.search-box {
    background-color: white;
    width: fit-content;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-text {
    background: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 0;
    font-size: 16px;
    transition: all .3s;
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
}

.search-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-btn img {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search-box:hover > .search-text {
    width: 320px;
}
.search-text:focus {
    width: 320px;
}