/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= COMUM =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(241, 233, 217);
    height: 100%;
    overflow-y: hidden;
}

a {
    color: #f1f1f1;
}

.nonedisplay {
    opacity: 0!important;
}
.displaynone {
  display: none!important;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= HEADER =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#myHeader{
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  top: 0;
  width: 100vw;
  height: 4rem;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.per33{
    width: 33%;
}


.show{
    opacity: 1!important;
}

#icon{
    border-radius: 10rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
#icon:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);   
}
#search-box {
    transition: all .3s;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= HEADER =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= NAVBAR =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#drop{
    list-style: none;
    list-style-type: none;
    -webkit-appearance: none;
    display: none;
    -moz-appearance: none;
    appearance: none;
}

.nav-list {
    list-style: none;
    list-style-type: none;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.nav-link {
    color: #f1f1f1;
}
.nav-link:hover {
    color: #f1f1f1;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= NAVBAR =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= MAIN =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.content-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 70vh;
    transform: translate(0, 50%);
}

.content-item {
    background-color: white;
    margin-top: 5rem;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: visible;
    width: 10vw;
    height: 12vw;
    
}

.content-item-img {
    width: 100%;
    margin-top: 1vw;
}


.content {
  height: 30%;
  width: 100%;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= MAIN =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= MAINPAGES =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

section {
  width: 100%;
  float: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5rem;
  align-items: center;
}

#home {
  background-color: #000000;
}
#home .arrow i {
  color: white;
}
#home .arrow:hover i {
  color: transparent!important;
}

#store {
  background-color: #f72585;
}

#channel {
  background-color: #7209b7;
}
#channel i {
  color: white;
}
#channel .arrow:hover i {
  color: transparent!important;
}
#channel .arrow-up:hover i {
  color: transparent!important;
}

#games {
  background-color: #3a0ca3;
  color: white;
}

#about {
  background-color: #4361ee;
  color: white;
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= MAINPAGES =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= ANIMATIONS =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ----------------------------------------------
 * Generated by Animista on 2022-12-15 8:45:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.rotate-center {
    transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.rotate-center:hover {
animation: rotate-center 0.6s;
transition: all .6s;
}
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
  
@keyframes slide-rotate-ver-left{0%{transform:translateX(0) rotateY(0)}100%{transform:translateX(-150px) rotateY(90deg)}}

@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}


.arrow {
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover i{
  color: transparent;
  transform: translateY(55px);

}

.arrow i {
    font-size: 30px;
    color: #222;
    transition: 0.3s;
}

.arrow a {
    text-decoration: none;
}

.arrow:hover > section {
  box-shadow: 10px, 10px, 10px, 10px inset;
  background-color: #222;
}

.arrow-up {
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.arrow-up:hover i{
  color: transparent;
  transform: translateY(-55px);
}

.arrow-up i {
    font-size: 30px;
    color: #222;
    transition: 0.3s;
}

.arrow-up a {
    text-decoration: none;
}

.arrow-up:hover > section {
  box-shadow: 10px, 10px, 10px, 10px inset;
  background-color: #222;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= ANIMATIONS =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
